#parent {
  height: 20%;
  padding: 5%;

}

#child {
  position: relative;
}

div.row{
  text-align: center;
}

i.icon-green {
    color: green;
}

i.icon-red {
    color: red;
}

.container {
  font-size: 22px;
}